# Dependencies
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.next/
frontend/out/

# Golang
backend/main
backend/bin/
backend/tmp/
backend/*.exe
*.exe

# Environment (JANGAN commit credential ke Git!)
.env
**/.env
*.env
.env.local

# Docker & OS
.docker/
.DS_Store
Thumbs.db